body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

section {
  background-color: white;
}

.hero {
  background-color: darkslategray;
  height: 70vh;
  color: white;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 600px;
  justify-content: space-around;
  font-size: 18px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  margin: 0;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

p {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
}

.logo {
  height: 80px;
  margin: 30px;
}
.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 70px;
  background-color: darkslategray;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 70px;
  background-color: darkslategray;
}

.headshot {
  width: 280px;
  border-radius: 50%;
  margin-left: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

footer {
  background-color: whitesmoke;
  color: darkslategray;
  text-align: center;
  padding: 70px;
}

.getTouch ul {
  display: flex;
  list-style-type: none;
  width: 60%;
  margin-left: 15%;
  justify-content: space-evenly;
  font-size: 22px;
}

.getTouch ul li {
  text-decoration: none;
}
.skillSection {
  background-color: darkslategray;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.skillTitle {
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  margin: auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.skils-logos {
  height: 300px;
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-gap: 6px;
  /* grid: 60px 60px ; */
  justify-content: space-around;
  place-items: center;
  text-align: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.skils-logos span {
  display: flex;
  padding: 6px;
}
.skils-logos span p {
  font-size: 18px;
  font-weight: 500;
}

.skils-logos img {
  height: 65px;
  width: 75px;
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
}
